<hr>
<hr>
<hr>
<h1>Üye Kontrol Paneli</h1>
<br><br><br><br>
<a href="index.php"> <h4>Blog Anasayfa</h4> </a>
<br><br>
<a href="member_update.php?id=<?=$_SESSION["memberLogin"]["memberId"]?>"> <h4>Üyelik Bilgilerimi Düzenle</h4> </a>
<br><br>
<a href="logout.php"> <h4>Oturumu kapat</h4> </a>
<br><br>