{% include 'index.twig' %}
<form action="" method="post">
    Lütfen export istediğiniz tabloyu seçin:
    <br><br>
    <input type="hidden" name="table" value="member">
    <input type="submit" value="Export" name="submit">
</form>